[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.3"
pymysql = "*"
djangorestframework = {index = "http://mirrors.aliyun.com/pypi/simple/", version = "*"}
django-cors-headers = {index = "http://mirrors.aliyun.com/pypi/simple/", version = "*"}
django-filters = "*"
django-filter = "*"
dwebsocket = "*"

[requires]
python_version = "3.8"
